/* RESET */
body, p {
    margin: unset;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

a {
    color: unset;
    text-decoration: unset;
}

/* Design */

body {
    background-image: url(./images/bg.png);
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.header {
    margin: 30px 0;
}

.header .icon {
    background-color: black;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    color: white;
    line-height: 200px;
    border-radius: 50%;
    margin-right: 10px;
}

.header .icon.logo {
    background-image: url(./images/logo.png);
    text-indent: -9999px;
}

.header .icon.lemon {
    color: yellow;
}

.header .icon.lemon:hover {
    background-image: url(./images/lemon.png);
    text-indent: -9999px;
}

.header .icon.orange {
    color: orange;
}

.header .icon.orange:hover {
    background-image: url(./images/orange.png);
    text-indent: -9999px;
}

.header .icon.jamong {
    color: orangered;
}

.header .icon.jamong:hover {
    background-image: url(./images/jamong.png);
    text-indent: -9999px;
}

.contents {
    background-color: white;
    height: 300px;
    padding: 50px;
    border-radius: 50px;
}

.contents h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: orangered;
}

.contents h1 span {
    font-size: 0.5em;
    font-weight: normal;
    color: #666666;
    vertical-align: super;
}

footer {
    background-color: aqua;
}